/ p = "Brand_id = #{params[:brand].to_i}"
/ p = "Link #{@source_brand}"
/ p = "The total number of phones: #{@phones.count}." 

= form_tag phone_product_details_path, method: :post, remote: true do |f|
  = label_tag "Select phone: "
  br
  = select_tag "phone", options_for_select(@phones.collect{ |phone| [phone.name, phone.id]})
  = hidden_field_tag(:source, @source_brand)
  = hidden_field_tag(:search_string, @search_string)  
  p = submit_tag "Submit phone"