#controls
	/ p = "The total number of brands: #{@brands.count}."
	#clear 
	#brand_form
		= form_tag phone_product_path, method: :post, remote: true do |f|
		  = label_tag "Select brand name: "
		  br
		  = select_tag "brand", options_for_select(@brands.collect{ |brand| [brand.name, brand.id]})
		  p = submit_tag "Submit brand name"
	#search_form
		= form_tag phone_search_path, method: :post, remote: true do |f|
		  = label_tag "Search for: "
		  br
		  = text_field_tag :search_string
		  p = submit_tag "Go"
	#clear 
	#phone_form style="display:none;"
#detail_form style="display:none;"