// Place all the styles related to the Phone controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {width: 98%;
    border: 1px solid grey;
    padding: 5px;
    margin: 5px;
}

th {width: 25%;}
td:ttl {width: 25%;}
td:nfo {width: 50%;}

div#controls {
    width: 640px;
    padding: 10px;
    border: 1px solid gray;
    margin: 10px;
}

div#clear {
    width: 100%;
    height: 1px;
    clear: both;   
}

div#brand_form, #search_form{
    width: 270px;
    padding: 10px;
    border: 1px solid gray;
    margin: 10px;
    float:left;
}

div#phone_form{
    width: 270px;
    padding: 10px;
    border: 1px solid gray;
    margin: 10px;
}
div#detail_form {
    width: 640px;
    padding: 10px;
    border: 1px solid gray;
    margin: 10px;
}
